<div id="footer">
  <ul>
    <li>
      <a href="#"><i class="fa fa-envira" aria-hidden="true"></i></a>
    </li>
      <a href="#"><i class="fa fa-envira" aria-hidden="true"></i></a>
    </li>
      <a href="#"><i class="fa fa-envira" aria-hidden="true"></i></a>
    </li>
  </ul>
  <p>footer text</p>
</div>
