<div id="footer">
  <ul class="list-inline text-center">
    <li>
      <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </li>
      <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
    </li>
      <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
    </li>
  </ul>

</div>
